.characterContainer {
    display: flex;
    height: 100px;
    width: fit-content;
    border-radius: 20px;
    border: #333333 solid 3px;
    margin: 20px 10px;
}

.characterPortrait {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    background-color: rebeccapurple;
    border-radius: 17px 0 0 16px;
    overflow: hidden;
}

.characterImg {
    height: 100%;
}

.characterName {
    position: absolute;
    bottom: 0;
    height: 20%;
    width: 100%;
    border-radius: 0 10px 0 14px;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
    color: #ddd;
    background-color: #333333;

}

.characterInfo {
    display: flex;
    flex-direction: column;
    background-color: #1a1c1d;
}

.characterInfo > * {
    height: 50px;
}

.characterCE {
    display: flex;
    background-color: #1a1c1d;
    border-radius:  0 20px 20px 0;
}

.CE {
    width: 60px;
    margin: 0 5px;
}

.CE .personName {
    height: 25%;
    font-size: 1.2em;
    text-align: center;
}

.CE .CECount {
    height: 50%;
    font-size: 2.8em;
    color: #ddd;
    text-align: center;
    border-radius: 5px;
}

.CE .all {
    background-color: #023a02;
}

.CE .some {
    background-color: green;
}

.CE .none {
    background-color: darkred;
}

.CE .buttons {
    display: flex;
    height: 25%;
    justify-content: space-evenly;
}

.CE .buttons button {
    height: 20px;
    width: 20px;
    color: #888;
    background-color: transparent;
    border-width: 0;
    font-size: 1.5em;
    font-style: inherit;
    line-height: inherit;
    padding: 0;
}