body {
    background-color: #1a1c1d;
    color: #787168;
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
}

.search {
    display: flex;
    width: 40%;
    background-color: #222324;
    border: none;
    border-radius: 25px;
    padding: 1.5em;
    color: #787168;
    font-size: 18px;
    position: fixed;
    top: 1em;
}

*:focus-visible {
    outline: none;
}

.filters {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: fixed;
    height: 100vh;
    left: 0;
}

.elements, .weapons {
    display: flex;
    justify-content: space-between;
    background-color: #222324;
    border-radius: 0 15px 15px 0;
    border-style: solid;
    border-color: #787168;
    width: fit-content;
    flex-direction: column;
    border-left: none;
    padding: 0;
    margin: 0;
}

label {
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 4px;
    width: 70px;
    user-select: none;
}

.element, .weapon {
    min-height: 50px;
    min-width: 50px;
    max-height: 50px;
    max-width: 50px;
}

.weapon {
    background-color: #2A2C2D;
    border-radius: 50%;
}

input[type=checkbox] {
    display: none;
}

.characters {
    display: flex;
}

.character {
    display: flex;
    border-style: solid;
    border-color: #787168;
    border-radius: 25px;
}

.characterInfo {
    
}

.playerInfo {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
}

.characterList {
    display: flex;
    flex-wrap: wrap;
}