.CharacterBB {
    display: flex;
    border: darkred 3px solid;
    margin: 15px;
}

.CharacterBB > div {
    border: black 3px solid;
    margin: 3px;
    width: 31%;
}

.CharacterBB > div:last-child {
    width: 13%;
}

.BBBox {
    display: flex;
}

.BBInfo {
    display: flex;
    flex-direction: column;
}

.BBInfo > img {
    height: 100px;
}

.BBGroups {
    height: 50px;
}

.ChooseMainStat option {
    background-color: #333333;
    color: #eee;
}

select {
    background-color: #333333;
    color: #eee;
    border: none;
    border-radius: 5px;
    width: 120px;
    height: 40px;
}

.WeaponBB {
    display: flex;
}

.WeaponBB > div {
}

.selectRelic input[type='checkbox'] {
    display: block;
}