.search {
    display: flex;
    width: 40%;
    background-color: #222324;
    border: none;
    border-radius: 25px;
    padding: 1.5em;
    color: #787168;
    font-size: 18px;
    position: fixed;
    top: 1em;
}