#container_optimizer {
    width: 100%;
}

.button_header_banner {
    display: flex;
    justify-content: center;
    background-color: #252525;
    width: 100%;
    gap: 25%;
}

.text {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 800;
    font-size: 1.2em;
}

.button {
    background-color: #252525;
    color: #888;
    border: none;
    cursor: pointer;
}

.button_header {
    padding: 8px;
}

.elements,
.weapons {
    top: 6%;
}

.newItem {
    width: 100%;
    margin: 10px 0 10px 0;
    padding: 5px;
}

.addCharacterContainer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1%;
    margin: 20px 0 20px 0;
}

.characterPortraitBox {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background: none;
    border: none;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 50% 0;
    width: 100px;
    height: 355px;
}

.characterPortraitBox:hover {
    margin: -10px;
    padding: 10px;
}

.hideInteractions {
    visibility: hidden !important;
}

.characterPortraitInfo {
    margin-bottom: -10px;
}

.opaque {
    opacity: 100%;
}

.characterPortraitInteractionButton {
    display: flex;
    background: none;
    border: none;
    cursor: pointer;
    align-self: flex-end;
    border-radius: 50%;
    background-color: #252525;
    width: 34px;
    height: 34px;
    justify-content: center;
    align-items: center;
}

.characterPortraitInteractionButtonImg {
    filter: invert(.5);
    width: 75%;
}

.rarityFiveStarBorder {
    border-bottom: 5px solid rgba(200,124,36);
}

.rarityFourStarBorder {
    border-bottom: 5px solid rgba(148,112,187);
}

.search {
    align-self: center !important;
    top: 5em !important;
}

.charDetailsBackground {
    background-color: #464545;
}

.charStatBackground {
    background-color: #686868;
}