.selectCharBox {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    border-radius: 20px 20px 20px 20px;
    border: #333333 solid 3px;
    background-color: #1a1c1d;
    padding: 0 10px 5px 10px;
    width: 60vw;
    height: 80vh;
    top: 10vh;
    z-index: 10;
}

.selectCharBox .close {
    position: absolute;
    top: 0;
    right: 0;
    height: 30px;
    width: 30px;
    background-color: #333333;
    color: #ddd;
    border: none;
    border-radius: 0 10px 0 20px;
}

.selectCharBox .close:hover {
    color: #111;
}

.charBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    border-radius: 20px 20px 20px 20px;
    border: #333333 solid 3px;
    background-color: #252525;
    padding: 0 10px 5px 10px;
    margin: 5px;
}

.charBox:hover {
    background-color: #333333;
}

.charBox img {
    height: 90px;
}
