$color-fivestar: rgba(200,124,36);
$color-fourstar: rgba(148,112,187);

$color-complete: #023a02;
$color-some: green;
$color-none: darkred;

$color-cardBackground: #252525;
$color-cardBorder: #333;
$color-cardButton: #888;

$color-font: #ddd;